#chat-msg-screen {
  background-color: #ABC0D1;
  height:100vh;
}

#chat-msg-screen .status-bar{
  background-color: #ABC0D1;
}

#chat-msg-screen .alt-screen-header {
  top: 0px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  background-color: #ABC0D1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.main-chat-msg {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chat__timestamp {
  background-color: rgba(0,0,0,0.2);
  color: white;
  padding: 10px;
  font-size: 15px;
  border-radius: 15px;
  margin-bottom: 25px;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.message-row {
  display: flex;
  width: 100%;
  animation: fadeInRight 0.8s ease-in-out;
}

.message-row__own {
  opacity: 0;
  animation: fadeInLeft 0.8s ease-in-out forwards;
  animation-delay: 0.8s;
}

.message-row img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.message-content {
  position: flex;
  margin-bottom: 25px;
}

.message-content__sender {
  display: block;
  margin-bottom: 10px;
}

.message-content__info {
  display: flex;
  align-items: flex-end;
}

.message-content__bubble {
  background-color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 10px;
  font-size: 20px;
}

.message-content__sender,
.message-content__time {
  font-size: 16px;
  color: rgba(0,0,0,0.6);
}

.message-row__own {
  justify-content: flex-end;
}

.message-row__own .message-content__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 0px;
  border-top-right-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.message-row__own .message-content__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 8%;
  color: var(--gray);
}

.reply .reply__column:last-child {
  width: 92%;
  position: relative;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply  .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within  .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 95vw;
  transform: translateX(-10%) translateY(-50px);
}

.reply input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: var(--main-border);
  border-radius: 15px;
  transition: all .3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right:3px;
  top: 2px;
}

.reply__column:last-child > i {
  right : 45px;
  top: 9px;
  color: var(--gray)
}

.reply__column:last-child button {
  border: none;
  background-color: var(--yellow);
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply:focus-within {
  transform: translateY(50px);
}