#friends-name-link {
  display: block;
  padding: 15px 0px;
  text-align: center;
  background-color:#FAFAFA;
  font-size: 17px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-name-link i {
  color: var(--gray);
}

.friends-screen {
  padding : 0px var(--horizontal-space);
} 

.friends-channel {
  margin: 25px 0px;
  border-top: var(--main-border);
  padding: 10px 0px;
}

.friends-channel__header {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--gray);
}

@keyframes loading {
  from {
    opacity: 1;
  } to {
    opacity: 0;
    visibility: hidden;
  }
}

.splash-screen {
  background-color: var(--yellow);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  font-size: 50px;
  animation: loading 0.5s ease-in-out forwards;
  animation-delay: 2s;
}