.settings__setting {
  padding : 20px 0px;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
}

.settings__setting:last-child {
  border-bottom: var(--main-border);
}

.settings__setting-column:last-child {
  opacity: 0.6;
}

.settings__setting-column {
  display: flex;
  align-items: center;
}

.settings__noti {
  margin-left : 10px;
  height : 20px;
  width : 20px;
}



