.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 13px;
}

.dot {
  display: flex;
  background-color: tomato;
  height: 7px;
  width: 7px;
  border-radius: 50%;
}