.nav{
  background-color: #F9F9FA;
  padding : 25px 80px;
  border-top: var(--main-border);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color:#2E363E;
  position: relative;
}

.nav__noti {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  position: absolute;
  left: 35px;
  top: -20px;
}