.nav{
  background-color: #F9F9FA;
  padding : 25px 80px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 0px;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__link {
  color:#2E363E;
  position: relative;
}

.nav__noti {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-weight: 500;
  font-size: 13px;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dot {
  display: flex;
  background-color: tomato;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  position: absolute;
  left: 35px;
  top: -20px;

}