.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 500;
  width: 70%;
}

.screen-header__icon span {
  margin-left: 25px;
}
