.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-left: var(--horizontal-space);
  padding-right: var(--horizontal-space);
  margin-bottom: 30px;
}

.screen-header__title {
  font-size: 35px;
  font-weight: 500;
}

.screen-header__icons span {
  margin-left: 25px;
  position: relative;
}

.screen-header__dot {
  position: absolute;
}

@keyframes cogRotate {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: cogRotate 1s linear infinite;
}